body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-color: #f4f4f4;
        }
        header {
            background-color: #f4b083;
            padding: 20px;
            text-align: center;
        }
        h1 {
            margin: 0;
            font-size: 24px;
        }
        nav {
            margin-top: 10px;
        }
        nav a {
            text-decoration: none;
            padding: 10px 20px;
            color: #000;
            font-weight: bold;
            margin-right: 15px;
            border: 1px solid #000;
            border-radius: 5px;
            background-color: #f4b083;
        }
        nav a:hover {
            background-color: #e59a69;
        }


        .menu-section {
            text-align: center;
            padding: 50px;
        }

        .menu-section h2 {
            font-size: 32px;
            color: #333;
        }

        .menu-items {
            display: flex;
            justify-content: center;
            gap: 20px;
        }

        .menu-item {
            border: 2px solid #ddd;
            padding: 15px;
            border-radius: 10px;
            width: 250px;
        }

        .menu-item img {
            width: 100%;
            height: auto;
            border-radius: 10px;
        }
        .menu-item figure img{
            width: 100%;
            height: auto;
            border-radius: 10px;
        }

        .menu-item h3 {
            margin: 10px 0;
            font-size: 20px;
        }

        footer {
            background-color: #f4b083;
            padding: 20px;
            display: flex;
            justify-content: space-between;
        }
        .footer-column {
            flex: 1;
            padding: 0 10px;
        }
        .footer-column h3 {
            font-size: 16px;
            margin-bottom: 10px;
        }
        .footer-column p, .footer-column ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
        .footer-column ul li {
            margin-bottom: 5px;
        }